{% extends 'base.html' %}

{% block main %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript">
	function toggleSibling(sibling){
		sibling = sibling.nextSibling;
		while(!/tr/i.test(sibling.nodeName)){
			sibling = sibling.nextSibling;
		}
		sibling.style.display = sibling.style.display == 'table-row' ? 'none' : 'table-row';
	}
</script>
<table class="table table-hover tablesorter" id="myTable">
	<tr>
		<th>Username</th>
		<th>Password</th>
	</tr>
{% for u in users|sort(attribute='name') %}
   <tr id="a" onclick="toggleSibling(this)">
	   <td>{{ u.name }}</td>
	   <td>{{ u.password }}</td>
	</tr>
	<tr style="display:none;">
		<td colspan="3">
			<ul>This will eventually display</ul>
			<ul>the songs this user has added</ul>
			<ul>as an unordered list</ul>
		</td>
	</tr>
{% endfor %}
</table>
<h4>Total files: {{num_songs}}</h4>
{% endblock main %}
