{% extends 'base.html' %}

{% block main %}
<div class = "jumbotron">
{% if uname == None %}
	<h2>Please <a href={{ url_for('login') }}>login</a> to play the JukeBrry</h2>
{% else %}
	<h1>Welcome, {{ uname }}</h1>
        <p class="lead">Below is the current playlist on the JukeBrry.</p>
		<script type="text/javascript">
			var availableSongs = [];
			{% for s in songs %}
				var split = "{{ s | safe}}".split(",");
				var album = split[1].split("=")[1];
				var artist = split[2].split("=")[1];
				var title = split[3].split("=")[1];
			    availableSongs.push(title + " - " + artist + " (" + album + ")");
			{% endfor %}
		</script>
	<div class="content">
		<div class="row">
			<div class="col-md-2"></div>
	    	<div class="col-md-8">
	    		<form class="form-inline" method=post action={{ url_for('add') }}>
		            <fieldset>
					    <!-- <h3>Add to Playlist</h3> -->
	        			{% if error %} 
		        			<div class="alert alert-danger alert-dismissable">
							  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							  <strong>Sorry!</strong> {{ error }}
							</div> 
						{% endif %}
					    <div class="form-group" style="padding-bottom:5px; width: 70%">
					      <!-- Username -->
					      	<label class="sr-only" for="song">Song Name</label>
					        <input type="text" id="song" name="song" placeholder="Song Name" 
					        			class="input-xlarge form-control" style="width: 98%">
					     	<script type="text/javascript">
		                        $(function() {
		                            $( "#song" ).autocomplete({
		                              	source: availableSongs
		                            });
		                        });
	                    	</script>
	                    </div>
	                    <div class="form-group" style="padding-bottom:5px;">
					    	<!-- Button -->
					        <button class="btn btn-success btn-sm" style="font-size: 14px; padding: 10px 23px" onclick="addSong()">Add Song</button>    					   
					    </div>
					</fieldset>
				</form>
        	</div>
        </div>
    </div>
</div>
<div>
	<div id="queue">
		<div id="nowPlaying"></div>
    	<hr>
    	<div id="list"></div>
	</div>
	<script type="text/javascript">
		var queueSongs = [];
		{% for s in queue %}
			var split = "{{ s | safe}}".split(",");
			var album = split[1].split("=")[1];
			var artist = split[2].split("=")[1];
			var title = split[3].split("=")[1];
		    queueSongs.push(title + " - " + artist + " (" + album + ")");
		{% endfor %}

		var yourSongs = [];
		{% for y in your_songs %}
		    yourSongs.push("{{y.title  | safe }}" + " - " + "{{y.artist | safe }}" + " (" + "{{y.album | safe }}" + ")");
		{% endfor %}

		if(queueSongs.length > 0) {
			document.getElementById("nowPlaying").innerHTML+="<p>" + queueSongs[0] + "</p>";
		} else {
			document.getElementById("nowPlaying").innerHTML+="<p>No songs currently in the queue.</p>";
		}

		for (var i=1;i<queueSongs.length;i++) { 
			if(yourSongs.indexOf(queueSongs[i]) > -1) {
				document.getElementById("list").innerHTML+="<ul><a id='button" + i + "' class='clickme'><span class='glyphicon glyphicon-remove'></span></a>  " + queueSongs[i] + "</ul>";
			} else {
				document.getElementById("list").innerHTML+="<ul>" + queueSongs[i] + "</ul>";
			}
		}

		var seconds = 30;

		setInterval(function(){
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			$.getJSON($SCRIPT_ROOT + '/_queue', {
		        }, function(data) {
		          $("#queue").html(data.value);
		        });
		        return false;
		}, seconds * 1000)
	</script>
	{% endif %}
</div>
{% endblock %}
