{% extends 'base.html' %}

{% block main %}
<div class = "jumbotron">
{% if uname == None %}
	<h2>Please <a href={{ url_for('login') }}>login</a> to play the JukeBrry</h2>
{% else %}
	<h1>Welcome, {{ uname }}</h1>
        <p class="lead">Below is a the current playlist on the JukeBrry.</p>
</div>
<div>
	{% if your_songs|length == 0 %}
		<h4>You have not added any songs</h4>
	{% else %}
		<h4>Your songs</h4>
		{% for song in your_songs %}
		<ul>{{ song.title }} - {{ song.artist }}</a></ul>
		{% endfor %}
	{% endif %}
{% endif %}
</div>
{% endblock main %}
