{% extends 'base.html' %}

{% block main %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.15.14/jquery.tablesorter.js"></script>
<script>
	$(document).ready(function(){
		$(function(){
			$("#mytable").tablesorter();
		});
	});
</script>
<table id="mytable" class="table table-hover tablesorter">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
        </tr>
    </thead>
    <tbody>
{% for s in all_songs|sort(attribute='artist')%}
        <tr>
            <td>{{s.title}}</td>
            <td>{{s.artist}}</td>
            <td>{{s.album}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<h4>Total songs: {{num_songs}}</h4>
{% endblock main %}
