{% extends 'base.html' %}

{% block main %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.15.14/jquery.tablesorter.js"></script>
<script type="text/javascript">
	function(){
		$("#mytable").tablesorter();
	}
</script>
<table  id="myTable" class="table tablesorter">
	<thead>
	<tr>
		<th>Title</th>
		<th>Artist</th>
		<th>Album</th>
	</tr>
	</thead>
{% for s in songs|sort(attribute='artist') %}
<tbody>
   <tr>
	   <td>{{ s.title }}</td>
	   <td>{{ s.artist }}</td>
	   <td>{{ s.album }}</td>
	</tr>
	</tbody>
{% endfor %}
</table>

<h4>Total songs: {{num_songs}}</h4>
{% endblock main %}
