{% extends 'base.html' %}

{% block main %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.15.14/jquery.tablesorter.js"></script>
<script src="http://tablesorter.com/addons/pager/jquery.tablesorter.pager.js"></script>
<script>
	$(document).ready(function(){
		$(function(){
			$("#mytable").tablesorter({ 
			// initialize zebra striping and filter widgets 
			widthFixed : true
			})
			.tablesorterPager({container: $("#pager")}); ;
		});
	});
</script>
<h3>All songs on JukeBrry</h3>

<table id="mytable" class="table table-hover tablesorter">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
        </tr>
    </thead>
    <tbody>
{% for s in all_songs|sort(attribute='artist')%}
        <tr class='clickableRow' href={{ url_for('add') }}>
            <td>{{s.title}}</td>
            <td>{{s.artist}}</td>
            <td>{{s.album}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

<!-- pager -->
<div id="pager" class="pager">
  <form>
    <span class="glyphicon glyphicon-step-backward first"></span>
    <span class="glyphicon glyphicon glyphicon-fast-backward prev"></span>
    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
    <span class="glyphicon glyphicon glyphicon-fast-forward next"></span>
    <span class="glyphicon glyphicon-step-forward last"></span>
    <select class="pagesize">
      <option selected="selected" value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
    </select>
  </form>
</div>
{% endblock main %}
